/*操作标签弹出的操作面板*/




/*设置父元素*/
/*.Operationpanel{!*整体样式*!*/
    /*position: relative;*/
    /*width: 47%;*/
    /*height: 932px;*/
    /*background: #ccc;*/
    /*margin: 0;*/
    /*padding: 0;*/

    /*display: none;*/
    /*left:101%;*/

    /*top:-2px;*/
    /*z-index: 20;*/

/*}*/
.Operationpanel .zhuyaoneirong li{/*内容默认隐藏*/
    position:absolute;
    top:60px;
}



.tankuangbiejing{
    width: 100%;
    position: absolute;
    z-index: 50;
}


.shouyebohaopantouxiang-1{
    display: inline-block;
    width:16px;
    height: 16px;
    background-image: url(../images/nav/shouyebohaopantouxiang.png);
}
.shouyebohaopantouxiang-2{
    display: inline-block;
    width:16px;
    height: 16px;
    background-image: url(../images/nav/shouyebohaopantouxiang.png);
    background-position: 0 -20px;
}


.wenjianjiatubiao{
    display: inline-block;
    width:20px;
    height: 16px;
    background-image: url(../images/qieTu/folder.png);
}


.accordion .menu strong{
    font-size: 16px;
}
.accordion .friend_list02{
    padding-left:40px;
    position: relative;/*给拨打电话的弹窗做相对定位*/
}
.accordion .friend_list02 span{
    font-size:14px;
}

.accordion .menu i{
    color:#999;
    font-size: 20px;
    margin-right:0;
}


.dianhuabenrenyuan_bodadianhua{/*<!--点击当前电话本的人员弹出拨打电话的框-->*/
    position: absolute;
    top: -20px;
    left: 46%;
    width: 100px;
    height: 32px;
    background: #fff;
	box-shadow: 0px 0px 10px 3px #aaa;
}

.dianhuabenrenyuan_1 .making_a_call{/*两个电话按钮*/
    width:100%;
}
.dianhuabenrenyuan_1 .making_a_call a{
    display: block;
    color:#fff;
    width:48%;
    height: 25px;
    line-height: 32px;
    background: #04b425;
    float:left;
    text-align: center;
    margin-top: 3px;
}
.dianhuabenrenyuan_1 .making_a_call a:first-child{
    border-top-left-radius:25px;
    border-bottom-left-radius: 25px;
    margin-right: 3px;
    margin-left:1%;

}
.dianhuabenrenyuan_1 .making_a_call a:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.dianhuabenrenyuan_1 .telephone1,.dianhuabenrenyuan_1 .telephone2{
    display: inline-block;
    width: 22px;
    height: 23px;
}
.dianhuabenrenyuan_1 .telephone1{
    background: url(../images/qieTu/telephone.png) 0 0;
}
.dianhuabenrenyuan_1 .telephone2{
    background: url(../images/qieTu/telephone.png) -26px 0;
}








.Operationpanel .tankuangbiejing ul:nth-child(1){/*弹窗第一个ul*/
    line-height:50px;
    width: 50%;
}
.Operationpanel .tankuangbiejing ul:nth-child(2){/*弹窗第二个ul*/
    line-height: 50px;
    width: 50%;
}

#Operationpanel .tankuangbiejing li{/*#Operationpanel所有li的样式*/
    cursor:pointer;
    color:#000;
    float:left;
    font-size: 22px;
}

/*#Operationpanel .m1 li{*/
    /*margin-left:10%;*/
/*}*/

/*#Operationpanel .m2 li{*/
    /*margin-left:15%;*/
/*}*/


/*.guanbianniu{!*删除按钮*!*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 95%;*/
    /*font-size: 24px;*/
    /*cursor:pointer;*/
    /*padding: 0 5px;*/
/*}*/
.guanbianniu:hover{
    background:#e4393c;
    color:#fff;
}






/*弹出框背景*/
.tkzy{
    position:absolute;
    width:442.5px;
    height: 932px;
    background: #fff;
}



/*通讯录和快捷组样式*/
#txlkjz{
    width: 90%;
    height: 746px;
    margin:0 auto;
    top:84px;
}



/*临时图片*/

#txlkjz img{
    width: 100%;
    padding-top:85px;
}




/*右边各种不同的页面*/
.zhuyaoneirong{/*这个页面左移*/
    left:442.5px;
}
#Operation1{
    width: 442.5px;
    height: 872px;
    background-color: #fff;
    position: relative;/*给这个页面的弹框做相对定位*/
}
#Operation2{
    width: 442.5px;
    height: 872px;
    background-color: #fff;
}
#Operation3{
    width: 442.5px;
    height: 872px;
    background-color: #fff;
}






/*页面右上角三个按钮*/

.btnsss{
    position:absolute;
    right: 0;
    top:-8px;

}
.btnsss span{
    padding-left:10px;
    padding-right:5px;
    cursor:pointer;
}
.btnsss span:hover{
    background:#ccc;

}

.btnsss span:last-child{
    padding-left:10px;
    padding-right:10px;
}
.btnsss span:last-child:hover{
    background: #ff3333;
}
.btnsss span a:link{/*取消啊下滑线*/
    text-decoration:none;

}


.suoxiao{
    font-size:10px;
}
.fangda{
    width: 10px;
    height: 10px;
    background: url(../images/qieTu/fd.png) no-repeat;
    display: inline-block;
}
.huanyuan{
    width: 10px;
    height: 10px;
    background: url(../images/qieTu/hy.png) no-repeat;
    display: inline-block;
}
.guanbi{
    font-size:21px;
}



/*******************************聚类页面样式编写 开始*****************************/
.juleiyemian{
    width: 100%;
    height: 100%;
    background: #fff;
    position:absolute;
}
.juleiyemian p{
    margin:0;
}
.juleiyemian_sousuokuang,.juleiyemian_ulli{
    width: 90%;
    margin:0 auto;
    margin-top:20px;
}
.juleiyemian_sousuokuang form input:first-child{
    width: 90%;
    border:1px solid #638FFA;
}




/*聚类页面的列表，内容很多，用ul li代替，方便使用滚动条*/
/*值守信息*/
.juleiyemian_Event_List{
    width: 100%;
}

.juleiyemian_Event_List li:first-child{
    border:1px solid #ccc;
}

.juleiyemian_Event_List ul.juleiyemian_Event_List_1 li,
.juleiyemian_Event_List ul.juleiyemian_Event_List_2 li{
    border:1px solid #ccc;
    border-top:none;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position:relative;/*给打勾图标做相对对定位*/
    cursor:pointer;
}

ul.juleiyemian_Event_List_1 li span,
ul.juleiyemian_Event_List_2 li span{
    width: 90%;
    overflow: hidden;
    display: inline-block;
    padding-left: 4%;
}

ul.juleiyemian_Event_List_1 li i,
ul.juleiyemian_Event_List_2 li i{/*打勾图标绝对定位*/
    position:absolute;
}


/*设定高度做滚动条*/
ul.juleiyemian_Event_List_1,
ul.juleiyemian_Event_List_2{
    max-height:150px;
    height:150px;
}


/*当点击ul 下 li内容时，将不完全显示的内容显示在下面的容器中*/
.juleiyemian_ul_vessel{
    width: 90%;
    margin:0 auto;
    border:1px solid #ccc;
    max-height: 80px;
    height: 80px;
    margin-top:15px;
}
.juleiyemian_ul_vessel p{
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

/*标题*/
.juleiyemian_biaoti{
    width: 90%;
    margin:0 auto;
    margin-top:20px;
}

/*归类到时间轴 开始*/
.juleiyemian_shijianzhouguilei{
    width: 90%;
    margin:0 auto;
    margin-top:10px;
}
.juleiyemian_shijianzhouguilei>div.row>form div:first-child>p{
    margin-top: 20px;
}
.juleiyemian_shijianzhouguilei>div.row>form div:first-child>p>textarea{
    height:195px;
}

.juleiyemian_shijianzhouguilei div div:last-child div div table{
    margin:0;
}
.juleiyemian_shijianzhouguilei div div:last-child div div table tbody tr td{
    font-size: 14px;
    text-align: center;
}
/*归类到时间轴 结束*/




/*聚类时间插件*/
.calendar_tankuang_background{/*透明黑色背景*/
    width: 887px;
    height: 932px;
    position: absolute;
    left: -44px;
    top: -445px;
    background-color: rgba(0,0,0,0.2);
}
.calendar_tankuang{/*背景弹框*/
    width: 600px;
    height: 480px;
    background: #fff;
    position: absolute;
    top: -300px;
    left: 120px;
    z-index: 1;
}

.calendar_tankuang div p{
    margin:0 !important;
}

#chixuzhong{/*将持续中的鼠标样式变小手*/
    cursor:pointer;
}


/*******************************聚类页面样式编写 结束*****************************/



/****************************提取页面样式编写 开始*******************************/

.tiquyemian{
    width: 50%;
    height: 100%;
    background: #fff;
    position:absolute;
}

.tiquyemian_sousuokuang{
    width: 90%;
    margin:0 auto;
    margin-top:20px;
}
.tiquyemian_sousuokuang form input:first-child{
    width: 90%;
    border:1px solid #638FFA;
}

/*设定高度做滚动条*/
/*.tiquyemian_Event_List{*/
    /*max-height:170px;*/
    /*height:170px;*/
/*}*/

/*.tiquyemian_Event_List li{*/
    /*cursor:pointer;*/
    /*overflow:hidden;*/
    /*margin-top: 5px;*/
    /*height: 30px;*/
/*}*/
.tiquyemian_Event_List li:first-child{
    margin-top:0;
}

.tiquyemian_Event_List li i img{
    vertical-align:top;
}
/*.tiquyemian_Event_List li span{*/
    /*width: 95%;*/
    /*height:30px;*/
    /*line-height:30px;*/
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*padding-left:1%;*/
    /*font-size: 14px;*/
/*}*/


/*.tiquyemian_Event_List li i{*/
    /*display: inline-block;*/
    /*width: 18px;*/
    /*height: 25px;*/
    /*position: absolute;*/
    /*padding-top:5px;*/
    /*padding-right: 5px;*/
/*}*/

.tiquyemian_Event_List_li_bgcolor{/*不想在js写了，给个class作为背景,用这个class做判断*/
    background:#D0DDFD;
}




/*关键字提取样式*/
/*#guanjianzitiqu{*/
    /*width: 90%;*/
    /*margin:0 auto;*/
    /*margin-top:20px;*/
/*}*/
/*.guanjianzitiqu_biaoti span{!*标题*!*/
   /*background:#638FFA;*/
    /*padding:0px 15px;*/
    /*color:#fff;*/
    /*height: 30px;*/
    /*display: inline-block;*/
    /*line-height: 30px;*/
/*}*/

/*.guanjianzitiqu_rongqi{!*容器样式*!*/
    /*border:1px solid #ccc;*/
    /*width: 100%;*/
    /*height: 124px;*/
    /*max-height: 124px;*/
    /*padding: 10px 0px 15px 20px;*/
    /*margin-top:10px;*/
/*}*/


/*.guanjianzitiqu_rongqi ul li{*/
    /*float:left;*/
    /*padding:0 20px;*/
    /*border:1px solid #ccc;*/
    /*border-radius: 5px;*/
    /*margin-left:5px;*/
    /*color:#fff;*/
    /*background: #748EC9;*/
    /*margin-top:5px;*/
    /*cursor:pointer;*/
/*}*/

/*事件文本信息和突发事件报告表*/
 .shijianwenbenxinxi,.tufashijianbaogaobiao{
    background:#ccc;
    padding:0px 15px;
    color:#000;
    height: 30px;
    display: inline-block;
    line-height: 30px;
     cursor:pointer;
}
#shijianwenbenxinxi_tufashijianbaogaobiao .active{
   background: #638FFA;
   color:#fff;
}
#shijianwenbenxinxi_tufashijianbaogaobiao{
    width:90%;
    margin:0 auto;
    margin-top:20px;

}
.shijianwenbenxinxi_p,.tufashijianbaogaobiao_p{
    border:1px solid #ccc;
    width:100%;
    height:350px;
    max-height: 350px;
    overflow-y: auto;
    background:#fff;
    margin-top:10px;
}
.shijianwenbenxinxi_p{
    padding:5px 5px;
}
/*<!--内容页 给滚动条-->*/
.tufashijianbaogaobiao_table{
    border:1px solid #ccc;
    background: #fff;
    font-size: 14px;
    padding:10px 8px 10px 8px;
    margin-top:10px;
    height:855px;
}
.tufashijianbaogaobiao_table div:first-child{
    margin-top:0;
}
.tufashijianbaogaobiao_table div{
    margin-top:20px;
}
.tufashijianbaogaobiao_time input{
    width: 39px;
    text-align: center;
}



/****************************提取页面样式编写 结束*******************************/

























